name: Publish Package to PyPI

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    name: Publish to PyPI
    environment: pypi
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Clear GitHub Actions cache
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}
        restore-keys: |
          ${{ runner.os }}-pip-    

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel twine
        if [ "$(uname)" == "Linux" ]; then
          python -m pip install wbjdbc/resources/dependencies/jpype1-1.5.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
        elif [ "$(uname)" == "Windows_NT" ]; then
          python -m pip install wbjdbc/resources/dependencies/jpype1-1.5.1-cp312-cp312-win_amd64.whl
        fi

    - name: Build package
      run: python setup.py sdist bdist_wheel

    - name: Publish package to PyPI
      run: python -m twine upload dist/*
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
